body {
    background: #8c9898;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
}
.weather-wrapper {
    position: relative;
    font-family: 'Mochiy Pop P One', sans-serif;
    border-radius: 10px;
    width: 30%;
    min-height: 50%;
    text-align: center;
    box-shadow: 0 0 3px 5px black;
    padding: 3px;
}
.add-city {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 14px;
    position: absolute;
    display: flex;
    height: 25px;
    cursor: pointer;
    width: 20%;
    margin: 10px auto 0;
    border-radius: 10px;
    border: 2px solid black;
    background: black;
    transition: 0.5s;
    box-shadow: 0 0 3px 5px black;
    justify-content: center;
    align-items: center;
    color: white;
    top: 50%;
    left: 65%;
    padding: 17px;

}
.add-city:hover {
    box-shadow: 0 0 3px 8px black;
    transition: 0.5s;
    color: white;
}
label {
    margin: 0 auto;
}
#city-input {
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 0 black;
    letter-spacing: 2px;
    width: 50%;
    height: 20px;
    box-shadow: 0 0 3px 5px black;
    margin: 50px 0 10px 0;
    outline: none;
    border-radius: 2px;
    color: black;
    font-family: 'Mochiy Pop P One', sans-serif;
    text-align: center;
}
.city-name {
    font-size: 16px;
    font-weight: bold;
    text-shadow: 1px 0 black;
    font-family: 'Mochiy Pop P One', sans-serif;
    letter-spacing: 2px;
    width: 40%;
    min-height: 20px;
    padding: 3px;
    box-shadow: 0 0 3px 5px black;
    margin: 20px 20px 0;
    border-radius: 2px;
    color: black;
}

.temperature {
    width: 40%;
    font-family: 'Mochiy Pop P One', sans-serif;
    padding: 3px;
    height: 20px;
    box-shadow: 0 0 3px 5px black;
    margin: 20px 20px 0;
    border-radius: 2px;
    color: rgba(2, 30, 141, 0.62);
    font-size: 16px;
}
.type-of-weather {
    width: 40%;

    box-shadow: 0 0 3px 5px black;
    margin: 20px 20px 20px 20px;
    border-radius: 2px;

    background: #8c9898;
    min-height: 20px;
    padding: 3px;
}
.btn {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 14px;
    display: flex;
    height: 25px;
    cursor: pointer;
    width: 20%;
    margin: 10px auto 0;
    border-radius: 10px;
    border: 2px solid black;
    background: black;
    transition: 0.5s;
    box-shadow: 0 0 3px 5px black;
    justify-content: center;
    align-items: center;
    color: white;

}
.btn:hover {
    box-shadow: 0 0 3px 8px black;
    transition: 0.5s;
    color: white;
}
.city-list-holder {
    min-width: 100px;
    position: absolute;
    top: 24%;
    left: 67%;
}
li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.city-list-holder {
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 16px;

}
.observe-list-holder {
    min-width: 100px;
    position: absolute;
    top: 24%;
    left: 18%;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 16px;
}
.observe-list li {
    position: relative;
    left: -20%;
}
